<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" >
    <title></title>
</head>
<body>
    <h1>Concur table from data warehouse</h1>
    <form method="post">
    <label>Ledger</label>
    <input type="text" value="0506" name="ledger" value="{{ledger}}"/>
    <label>Start_Date</label>
    <input type="date" name="start_date" value="{{start_date}}">
    <label>End_Date</label>
    <input type="date" name="end_date" value="{{end_date}}">
    <input type="submit" value="submit">
    </form>
    <br><br>
    <!--<table  height="70%"  border="1" bordercolor="black" cellspacing="0" cellpadding="10">-->
        <!--<tr>-->
            <!--{%for col_name in col_names%}-->
            <!--<td>{{col_name}}</td>-->
            <!--{% endfor %}-->
        <!--</tr>-->
        <!--{% for row_num in range(table|length) %}-->
        <!--<tr>-->
            <!--<td>{{row_num + 1}} </td>-->
            <!--{% for col_num in range(table[row_num]|length) %}-->
            <!--&lt;!&ndash;对于第5列和第6列（职员和部门），如果没有数据，不能保存，所以将这两列归为一类&ndash;&gt;-->
                <!--{%if col_num == 5 or col_num == 6 %}-->
                <!--<td class="no_empty">{{table[row_num][col_num]}}</td>-->
                <!--{% else %}-->
                <!--<td>{{table[row_num][col_num]}}</td>-->
                <!--{% endif %}-->
            <!--{% endfor %}-->
        <!--</tr>-->
        <!--{% endfor %}-->
    <!--</table>-->
    <!--<script>-->
        <!--values = document.querySelectorAll(".no_empty");-->
        <!--var flag = 0;-->
        <!--for ( var i = 0; i < values.length; i++ ) {-->
            <!--if ( values[i].innerText === "None" ) {-->
                <!--values[i].style.background="red";-->
            <!--}-->
        <!--}-->
    <!--</script>-->
</body>
</html>