<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Success</h1>
    <form  method="post">
        <table border="1" bordercolor="black" cellpadding="10" >
        <tr >
            <td>Number</td>
            <td>Name</td>
            <td>How old</td>
            <td>HCM</td>
        </tr>
        {% for row in table %}
        <tr>
            {% for cell in row %}
            <td>{{cell}}</td>
            {% endfor %}
        </tr>
        {%  endfor %}
        </table>
    </form>

</body>
</html>