<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>New element</h1>
    {% for name in names %}
    <p>{{name}}</p>
    {% endfor%}
    <table  bgcolor="#DAB4F1"  height="70%" align="center" border="1" bordercolor="black" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                row1, cell1
            </td>
            <td>row1, cell2</td>
        </tr>
        <tr>
            <td><input name="age" type="text"><input type="submit" value="submit"></td>
            <td><input name="value" type="text"></td>
        </tr>
    </table>
</body>
</html>