<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Concur table from data warehouse</h1>
    <table  height="70%"  border="1" bordercolor="black" cellspacing="0" cellpadding="10">
        <tr >
            {%for col_name in col_names%}
            <td>{{col_name}}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for col in columns%}
            <td>{{col}}</td>
            {% endfor %}
        </tr>
    </table>
</body>
</html>